.navbar {
    background-color: #e3f2fd !important;
}

.carousel-inner img {
    object-fit: scale-down;
}

.Carousel {
    color: black;
}

.footer ul {
    list-style-type: none;
    display: inline-block;
    text-align:left;    
}
.footer ul li {
    padding-bottom: 10px;   
}