body {
    overflow-x: hidden;
}

.navbar, .modal-header, .modal-footer {
    background-color: #2d5980 !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 60px;
    margin: 0px;
    z-index: 100;
}
.navbar-brand{
    margin-left: 40px;}

button {
    background-color: #7ac142 !important;
}

.footer {
    background-color: #2d5980;
    color: white;
}

.footer ul {
    list-style-type: none;
    display: inline-block;
    text-align:left;    
}
.footer ul li {
    padding-bottom: 10px;   
}

.search {
    /*padding: 50px 250px;*/
    margin-top: 100px; 
    z-index: 100;
}

.search-button {
    display: block; 
    margin: 0 auto;
}

.bestselling-button{
    display: block; 
    margin: 0 auto;
    margin-bottom: 50px;
}

.card-deck {
    /*padding: 50px 100px;
    margin: 0 auto; */
    margin-bottom:30px;
}

.subscription {
    padding: 30px;
    background-color: #2d5980;
    color: white;
    list-style-type: none;
    display: inline-block;
    text-align:left;  
}
.placeholder {
    width: 500px;
}

.subscription-button{
    display: block; 
    margin: 0 auto;
}

.common-objections {
   /* margin-left: 10%;
    margin-right: 20%;
    padding: 50px; */
    margin-top: 25px;
    margin-bottom: 25px;
}

.common-objections h1 {
    padding-bottom: 20px;
}