body {
    overflow-x: hidden;
}

.navbar, .modal-header, .modal-footer {
    background-color: #2d5980 !important;
}

button {
    background-color: #7ac142 !important;
}

.footer {
    background-color: #2d5980;
    color: white;
}

.footer ul {
    list-style-type: none;
    display: inline-block;
    text-align:left;    
}
.footer ul li {
    padding-bottom: 10px;   
}

.search {
    /*padding: 50px 250px;*/
}

.search-button {
    display: block; 
    margin: 0 auto;
}

.bestselling-button{
    display: block; 
    margin: 0 auto;
    margin-bottom: 50px;
}

.card-deck {
    /*padding: 50px 100px;
    margin: 0 auto; */
}

.subscription {
    /*padding: 50px 250px;*/
    background-color: #2d5980;
}

.subscription-button{
    display: block; 
    margin: 0 auto;
}

.common-objections {
   /* margin-left: 10%;
    margin-right: 20%;
    padding: 50px; */
}

.common-objections h1 {
    padding-bottom: 20px;
}